runtime: go
api_version: go1

handlers:
- url: /static/(.*\.opus)
  mime_type: audio/ogg; codec=opus
  static_files: static/\1
  upload: static/(.*\.opus)
- url: /static/(.*\.css)
  mime_type: text/css; charset=UTF-8
  static_files: static/\1
  upload: static/(.*\.css)
- url: /static/(.*\.js)
  mime_type: text/javascript; charset=UTF-8
  static_files: static/\1
  upload: static/(.*\.js)
- url: /.*
  script: _go_app

env_variables:
  TWITTER_ACCESS_TOKEN: 'your access token'
  TWITTER_ACCESS_TOKEN_SECRET: 'your access token secret'
  TWITTER_CONSUMER_KEY: 'your consumer key'
  TWITTER_CONSUMER_SECRET: 'your consumer secret'
  TWITTER_TARGET_LIST_ID: '992270083547324416'

nobuild_files:
  - vendor

skip_files:
  - vendor/.*$
